<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wallet App</title>
  <link rel="stylesheet" href="styles/css/font-awesome.css">
  <link rel="stylesheet" href="styles/css/main.css">
  <script src="scripts/lib/angular.js"></script>
</head>
<body ng-app>
  <div class="header">
    <ul>
      <li><button>Home</button></li>
      <li><button>Reset</button></li>
      <li><button>View Source</button></li>
    </ul>
  </div>
  <div class="main">
    <form>
      <label for="money-in">Money in:</label>
      <input name="money-in" id="money-in" type="number" ng-model="money.in">
      <label for="money-out">Money out:</label>
      <input name="money-out" id="money-out" type="number">
      <label for="money-currency">Currency:</label>
      <select name="money-currency" id="money-currency">
        <option value=""></option>
      </select>
      <button ng-click="opeate()">Process</button>
    </form>
    <div class="wallet">
      <h2>Grand Total:{{wallet.currency}} {{wallet.total}}</h2>
      <ul>
        <li ng-repeat="operation in wallet.operations">{{wallet.currency}} {{operation.date}}</li>
      </ul>
    </div>
  </div>
</body>
</html>