<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wallet App</title>
  <link rel="stylesheet" href="styles/css/font-awesome.css">
  <link rel="stylesheet" href="styles/css/main.css">
  <script src="scripts/lib/angular.js"></script>
  <script src="scripts/app.js"></script>
</head>
<body ng-app="walletApp">
  <div class="header">
    <ul>
      <li><button>Home</button></li>
      <li><button>Reset</button></li>
      <li><button>View Source</button></li>
    </ul>
  </div>
  <div class="main" ng-controller="MainCtrl">
    <form>
      <label for="money-in">Money in:</label>
      <input name="money-in" id="money-in" type="number" ng-model="money.in">
      <label for="money-out">Money out:</label>
      <input name="money-out" id="money-out" type="number" ng-model="money.out">
      <label for="money-currency">Currency:</label>
      <select ng-model="wallet.currency" name="money-currency" id="money-currency"
        ng-options="currency for currency in money.currencies">
      </select>
      <button ng-click="operate()">Process</button>
    </form>
    <div class="wallet">
      <h2>Grand Total: {{wallet.currency}}{{wallet.total}}</h2>
      <ul class="operations">
        <li class="header"><span class="amount">Amount</span> <span class="date">Date</span></li>
        <li ng-repeat="operation in wallet.operations">
          <span class="amount">{{operation.amount | currency:wallet.currency}}</span>
          <span class="date">{{operation.date | date:'HH:mm MMM dd, yyyy'}}</span>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>