body {
  font: 14px/1.5 sans-serif;
  color: #222;
  margin: 3em;
}

ul {
  list-style: none;
  padding: 0;
}

.header li {
  display: inline-block;
}

.operations span {
  display: inline-block;
}
.operations .header {
  font-weight: bold;
}
.operations .amount {
  width: 75px;
}
.operations .date {
  width: 150px;
}
